{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
    <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
        <marquee><button onclick="window.history.back();" class="btn btn-secondary">Voltar</button></marquee>
        <img src="{{ url_for('static', filename='selo.jpg') }}" alt="Selo" class="img-fluid mx-auto rounded me-5 moving-text" style="max-width: 200px; height: auto;">
        <marquee><a href="https://www.youtube.com/watch?v=jE8QEADRB9w" target="_blank" class="btn btn-danger float-right">Hino Grupal</a></marquee>
    </div>
    <div class="row">
        <div class="col-md-6 text-md-right">
            <h1 class="mb-3 moving-text">Grupo de macacos que realizaram esse projeto:</h1>
            <marquee><h2 class="mt-3">Função dos participantes:</h2></marquee>
            <h4 class="mt-3 moving-text">Davi: Reclamar</h4>
            <h4 class="mt-3">Felipe: "Preferia em Java"</h4>
            <h4 class="mt-3 moving-text">Olenildo: Fazer raiva</h4>
            <h4 class="mt-3">Fernando: Atrapalhar</h4>
            <h5 class="mt-3 moving-text">"Pode não parecer, mas o nosso amor pelo front é real"</h5>
        </div>
        <div class="col-md-6 text-left">
            <img src="{{ url_for('static', filename='povo.jpg') }}" class="img-fluid rounded moving-text" style="max-width: 100%; height: auto;">
        </div>
    </div>
    <audio src="{{ url_for('static', filename='audio.mp3') }}" autoplay></audio>
</div>
{% block extra_styles %}
<style>
    body {
        background-color: green;
        color: rgb(255, 153, 0);
    }

    img.rounded {
        border-radius: 15px;
    }

    .moving-text {
        display: inline-block;
        animation: move 2s ease-in-out infinite;
    }

    @keyframes move {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
    }
</style>
{% endblock %}
{% endblock %}