{% extends 'base.html' %}

{% block body %}
<div class="container text-center mt-5">
    <header class="d-flex align-items-center justify-content-center mb-4 p-3 bg-dark text-white rounded">
        <img src="/static/logo.jpeg" alt="Logo" class="me-3" style="height: 50px;">
        <h1 class="m-0">Viajatron</h1>
    </header>
    <h2 class="text-black">Deixe o estresse da organização conosco.</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Principais destinos</h3>
            <ul>
                <li>Japão</li>
                <li>Itália</li>
                <li>Nova Zelândia</li>
                <li>Islândia</li>
                <li>Tailândia</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Lugares mais baratos para se conhecer</h3>
            <ul>
                <li>Chapada da diamantina</li>
                <li>Pomerode</li>
                <li>Maceió</li>
                <li>Lençóis Maranhenses</li>
                <li>Vitória</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Cotação das moedas</h3>
            <ul>
                <li>Real R$ 5,38 -> Dólar $1.00</li>
                <li>Real R$ 5,76 -> Euro €1,00</li>
                <li>Real R$ 6,81 -> Libra Esterlina £1,00</li>
                <li>Real R$ 3,91 -> Dólar Canadense: C$1,00</li>
                <li>Real R$ 1,00 -> Iene: ¥ 0,034</li>
            </ul>
        </div>
    </div>
</div>

<footer class="footer bg-dark text-white text-center py-3 fixed-bottom">
    <p class="m-0">DOF2</p>
</footer>
{% endblock %}

{% block extra_styles %}
<style>
    h1 {
        color: #008000; /* Verde */
    }
    h2 {
        color: #661d1d; /* Preto */
    }
    .header, .footer {
        background-color: #02a002; /* Verde escuro */
    }
</style>
{% endblock %}
