{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Viagens Cadastradas</h1>
        <div>
            <a href="{{ url_for('pesquisar_viagem') }}" class="btn btn-info me-2">Pesquisar Viagens</a>
            <a href="{{ url_for('criar_viagem') }}" class="btn btn-success">Adicionar nova viagem</a>
        </div>
    </div>
    <div class="row">
        {% for viagem in viagens %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ viagem.destino }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Data de Início: {{ viagem.data_inicio.strftime('%d/%m/%Y') }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Data de Término: {{ viagem.data_termino.strftime('%d/%m/%Y') }}</h6>
                    <p class="card-text">{{ viagem.roteiro }}</p>
                    <!-- Botões Editar e Excluir -->
                    <a href="{{ url_for('editar_viagem', viagem_id=viagem.id) }}" class="btn btn-primary me-2">Editar</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirViagemModal{{ viagem.id }}">Excluir</button>
                </div>
            </div>
        </div>

        <!-- Modal para cada viagem -->
        <div class="modal fade" id="excluirViagemModal{{ viagem.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="excluirViagemLabel{{ viagem.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="excluirViagemLabel{{ viagem.id }}">Tem certeza?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Não será possível recuperar nada dessa viagem caso prossiga, deseja realmente excluir a viagem para {{ viagem.destino }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form method="POST" action="{{ url_for('excluir_viagem', viagem_id=viagem.id) }}">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
